body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white; }

.jumbotron {
  background-color: #B8C4C7;
  margin-bottom: 0px;
  border-radius: 0px !important; }

.btn {
  border-radius: 0px !important; }

a {
  color: #00B7FF; }

#userInfo {
  height: 300px;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f9f2f4; }

#success {
  height: 33px;
  background-color: #51a351 !important;
  color: white; }

#alert {
  height: 33px;
  background-color: #bd362f !important;
  color: white; }

#info {
  height: 33px;
  background-color: #2f96b4 !important;
  color: white; }

#warning {
  height: 33px;
  background-color: #f89406 !important;
  color: white; }

#button-container {
  height: 35px; }
