<div class="text-center">
    <div id="button-container">

        <md-button id="success" class="md-raised btn btn-success col-sm-3 col-xs-12" ng-click="getUserResponse()">Get User Data</md-button>
        <md-button id="warning" class="md-raised btn btn-warning col-sm-3 col-xs-12" ng-click="postUserInfo()">Post User Data</md-button>
        <md-button id="info" class="md-raised btn btn-primary col-sm-3 col-xs-12" ng-click="linkToToast()">Toaster Info</md-button>
        <md-button id="alert" class="md-raised btn btn-danger col-sm-3 col-xs-12" ng-click="clearData()">Clear User Data</md-button>
        <!-- TODO update the rest of the buttons in this list with Material Design.-->
        <!-- TODO also, I'd like to break them out at some point and put them in a vertical list from the FAB-->

    </div>
    <div id="userInfo" class="container-fluid text-center">
        <ul class="col-sm-6 col-sm-offset-3 col-xs-12" style="text-align: left; list-style: none; font-size: 20px;">
            <li>Username: {{ name }}</li>
            <li>User ID: {{ userID }}</li>
            <li>Phone Number: {{ phone }}</li>
        </ul>
    </div>

</div>