<div class="text-center">
    <button class="btn btn-success" id="user-btn" ng-click="getUserResponse()">
        Get User Data from Server
    </button>
    <button id="save-btn" class="btn btn-warning" ng-click="postUserInfo()">
        Post User Data to Server
    </button>
    <button class="btn btn-primary" ng-click="linkToToast()">
        Toaster Info
    </button>
    <button class="btn btn-danger" ng-click="clearData()">
        Toaster Info
    </button>
    <div id="userInfo" class="text-center">
        <ul style="list-style: none; font-size: 20px;">
            <li>Username: {{ name }}</li>
            <li>User ID: {{ userID }}</li>
            <li>Phone Number: {{ phone }}</li>
        </ul>
    </div>
</div>