<div class="container">

    <div class="container-fluid text-center">
        <h2>Links</h2>
    </div>

    <div class="container-fluid col-xs-8 col-xs-offset-2">
        <div class="list-group text-center">
            <a class="list-group-item" href="{{link.navlinks.link1}}" target="_blank">{{link.navlinks.title1}}</a>
            <a class="list-group-item" href="{{link.navlinks.link2}}" target="_blank">{{link.navlinks.title2}}</a>
            <a class="list-group-item" href="{{link.navlinks.link3}}" target="_blank">{{link.navlinks.title3}}</a>
        </div>
    </div>

</div>